<table style="border: 0; margin: 8px 0 8px 0; background-color: white">
  <tr style="margin: 0; padding: 0">
    <td style="border: 1px solid black; width: 30%; text-align: center;{% if include.domain == "AI" %} background-color: teal; color: white">Согласование ИИ{% else %} background-color: #9AA6B1; color: teal"><a href="/explore/ai_alignment" style="text-decoration: none">Согласование ИИ</a>{% endif %}</td>
    <td style="border: 1px solid black; width: 30%; text-align: center;{% if include.domain == "math" %} background-color: teal; color: white">Математика{% else %} background-color: #9AA6B1; color: teal"><a href="/explore/math" style="text-decoration: none">Математика</a>{% endif %}</td>
    <td style="border: 1px solid black; width: 30%; text-align: center;{% if include.domain == "other" %} background-color: teal; color: white">Прочее{% else %} background-color: #9AA6B1; color: teal"><a href="/explore/other" style="text-decoration: none">Прочее</a>{% endif %}</td>
  </tr>
  {% if include.info %}<tr style="margin: 0; padding: 0">
    <td style="border: 0; width: 30%; text-align: center; background-color: white; vertical-align: top">{% assign a = site.data.p | where: "domains", "ai_alignment" | where: "deleted", none %}{% assign b = a | where: "translated", true %}{{ b.size }} из {{ a.size }}</td>
    <td style="border: 0; width: 30%; text-align: center; background-color: white; vertical-align: top">{% assign a = site.data.p | where: "domains", "math" | where: "deleted", none %}{% assign b = a | where: "translated", true %}{{ b.size }} из {{ a.size }}</td>
    <td style="border: 0; width: 30%; text-align: center; background-color: white; vertical-align: top">{% assign a = 0 %}{% assign b = 0 %}{% for p in site.data.p | where: "deleted", none %}{% unless p.domains contains "ai_alignment" or p.domains contains "math" %}{% assign a = a | plus: 1 %}{% if p.translated %}{% assign b = b | plus: 1 %}{% endif %}{% endunless %}{% endfor %}{{ b }} из {{ a }}</td>
  </tr>{% endif %}
</table>
