---
layout: default
---
<div class="container content">

<h1 class="post-title">{{ page.title }}</h1>
{% if page.author %}{{ page.original_date }} &#8195 <b>{{ page.author }}</b><hr style="margin-top: 6px">{% endif %}


<div class="post">

{{ content }}

</div>

{% assign id = page.id | remove_first: "/p/" %}
{% for p in site.data.p %}{% if p.id == id %}{% assign q = p %}{% break %}{% endif %}{% endfor %}

<!-- Здесь ссылки на parent- и child-посты -->
<hr class="hrdark" style="margin-bottom: 8px; margin-top: 8px">
<span>
  <b>Категории:</b> 
  {% assign f = false %}
  {% for a in site.data.p %}{% for b in a.children %}{% if b == id %}
  {% include post.html id=a.id short=true %} &#8195 {% assign f = true %}{% break %}{% endif %}{% endfor %}{% endfor %}
  {% unless f %}
  {% if q.domains contains "AI" %}<a href="{{ '/explore/ai_alignment' | relative_url }}">Согласование ИИ</a> &#8195{% endif %}
  {% if q.domains contains "math" %}<a href="{{ '/explore/math' | relative_url }}">Математика</a> &#8195{% endif %}
  {% if q.domains == "" %}<a href="{{ '/explore/other' | relative_url }}">Прочее</a>{% endif %}
  {% endunless %}
</span>

{% if q.children %}
<ul class="tree" style="margin-left: calc(-5rem + 12px); margin-top: 8px; margin-bottom: 8px"><li><details><summary>
  <b>Связанное:</b></summary>
  {% include list.html list = q.children %}
</details></li></ul>
{% endif %}

<hr class="hrdark" style="margin-bottom: 8px; margin-top: 8px">

<small><table style="border: none; margin: 8px 0 8px 0; background-color: white; width: 100%;"><tr style="margin: 0; padding: 0">
  <td style="border: none; background-color: white; margin: 0; padding: 0; width: 48%; vertical-align: top">
    Оригинал: <a href="https://arbital.com/p/{{ id }}">{{ q.title }}</a> (читать на <a href="https://arbital.greaterwrong.com/p/{{ id }}">GreaterWrong</a>)
  </td>
  <td style="border: none; background-color: white; margin: 0; padding: 0; width: 4%">&nbsp;&nbsp;</td>
  <td style="border: none; background-color: white; margin: 0; padding: 0; width: 48%; text-align: right; vertical-align: top">
    {% if page.translated_by %}Перевод: {{ page.translated_by | split: ", " }}{% endif %}{% if page.translation_details %} ({{ page.translation_details }}){% endif %}{% if page.edited_by %}, редактура: {{ page.edited_by | split: ", " }}{% if page.edition_details %} ({{ page.edition_details }}){% endif %}{% endif %}
  </td>
</tr></table></small>

</div>

<hr class="hrdark" style="margin: 8px">

<center><small><small>Материалы распространяются по лицензии <a href="https://creativecommons.org/licenses/by/3.0/deed.ru">CC BY 3.0</a></small></small></center>
