---
layout: default
---
<div class="container content">

<h1 class="post-title">{{ page.title }}</h1>
{% if page.show_author %}{{ page.original_date }} &#8195 <b>{{ page.author }}</b><hr style="margin-top: 6px">{% endif %}


<div class="post">

{{ content }}

<hr class="hrdark" style="margin-bottom: 8px">

{% assign id = page.id | remove_first: "/p/" %}
{% for p in site.data.p %}{% if p.id == id %}{% assign title = p.title %}{% break %}{% endif %}{% endfor %}

<small><table style="border: none; margin: 8px 0 8px 0; background-color: white"><tr style="margin: 0; padding: 0">
  <td style="border: none; background-color: white; margin: 0; padding: 0">
    Оригинал: <a href="https://arbital.com/p/{{ id }}">{{ title }}</a> (читать на <a href="https://arbital.greaterwrong.com/p/{{ id }}">GreaterWrong</a>)
  </td>
  <td style="float: right; border: none; background-color: white; margin: 0; padding: 0; white-space: nowrap">
    Перевод: {% if page.translated_by %}{{ page.translated_by | split: ", " }}{% else %}Аноним{% endif %}
  </td>
</tr></table></small>

</div>

<!-- Здесь ссылки на parent- и child-посты
<hr class="hrdark" style="margin: 10px">
<span style="margin-left: calc(3rem - 12px)">Категории: {% assign f = false %}{% for a in site.data.p %}{% for b in a.children %}{% if b == id %}
{% include post.html id=a.id short=true %} &#8195 
{% assign f = true %}{% break %}{% endif %}{% endfor %}{% endfor %}{% unless f %}нет{% endunless %}</span>

<ul class="tree" style="margin-left: -2rem; margin-top: 12px">{% for a in site.data.p %}{% if a.id == id %}<li><details><summary>
  Связанное</summary>
  {% include list.html list = a.children %}
</details></li>{% break %}{% endif %}{% endfor %}</ul>

</div>
-->

<hr class="hrdark" style="margin: 0">

<center><small><small>Материалы распространяются по лицензии <a href="https://creativecommons.org/licenses/by/3.0/deed.ru">CC BY 3.0</a></small></small></center>
